*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --clr-light: #ffffff;
    --clr-red: #b3001b;
    --clr-dark-neutral: #627264;
    --clr-dark: #223;
    --clr-blue-satur: #0000ff;
    ;
}

::selection {
    background-color: var(--clr-red);
    background-color: var(--clr-blue-satur);
    color: aliceblue;
}
h1{
    font-size: 2.6em;
}
a {
    color: #00bfff;

}

button,
input,
textarea,
select {
    font: inherit;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}
header{
    height: 5rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
nav{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav ul{
    display: flex;
    align-items: center;
}
ul li {
    margin: .2em .5em;
    list-style: none;
    font-size: 1.2em;
}
ul li a {
    text-transform: capitalize;
    text-decoration: none;
}
ul li a:hover{
    color: #28729d;
}
main{
    margin:1rem auto;
    padding: 1rem;
    border: 1px solid var(--clr-light);
}
.main-content{
    width: 500px;
    padding: 1em;
    text-align: start;
}
.main-content p{
line-height: 1.7em;
margin-bottom: 1rem;
}
.main-content *{
    margin: .2em;
}
.hello-world {
    color: white;
}
 
main>p {
    line-height: 1.2em;
}

.action-btn1 {
    font-size: 1.2em;
    background-color: rgb(255, 145, 0);
    color: white;
    border: none;
    padding: .3em 1.5em;
    border-radius: .8rem 0 .8rem 0;
}
.action-btn1:hover{
    cursor: pointer;
    background-color: rgb(189, 117, 23);
}
.action-btn2 {
    font-size: 1.2em;
    background-color: rgb(0, 170, 255);
    color: white;
    border: none;
    padding: .3em 1.5em;
    border-radius: .8rem 0 .8rem 0;
}
.action-btn2:hover{
    cursor: pointer;
    background-color: rgb(34, 129, 177);
}
.about-title {
    color: white;
}
.about{
    width: 500px;
    text-align: center;
    margin: 1em auto;
}

.work {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.card {
    background-color:rgb(47, 47, 85);

    border-radius: .3em;

    height: 280px;
    width: 320px;
    color: #e6e6e6;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8em;
}
.card p {
    padding: .3em;
}

.color-box {
    content: "";
    height: 100px;
    width: 100%;
    background-color: aliceblue;
    margin-bottom: 1em;
}

.contact-card{
    background-color: #666272;
    width: 300px;
}
