*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --clr-light: #e4e6dc;
    --clr-red: #b3001b;
    --clr-dark-neutral: #627264;
    --clr-dark: #223;
    --clr-blue-satur: #0000ff;
    ;
}

::selection {
    background-color: var(--clr-red);
    background-color: var(--clr-blue-satur);
    color: aliceblue;
}

a {
    color: #00bfff;

}

button,
input,
textarea,
select {
    font: inherit;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.hello-world {
    color: white;
    font-size: 2.8em;
}

main>p {
    line-height: 1.2em;
}

.action-btn {
    background-color: rgb(255, 145, 0);
    color: white;
    border: none;
    padding: .3em 1.5em;
    border-radius: 1em;
}

.about-title {
    color: white;
    font-size: 2.6em;
}

.work {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.card {
    background-color: var(--clr-light);
    border: 1px solid red;
    height: 280px;
    width: 320px;
    color: var(--clr-dark);
    margin: 0 auto;
}

.color-box {
    content: "";
    height: 100px;
    width: 100%;
    background-color: aliceblue;
}

.black-card {
    background-color: var(--clr-dark);
}

.banner {
    color: white;
    display: flex;
    gap: 1em;
    height: 180px;
    width: 100%;
    background-color: #3d3dc8;
    justify-content: space-between;
    align-items: center;
}

.box {
    margin: 0 1em;
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
}

.window-container {
    height: 500px;
    width: 80%;
    background-color: #de8d5b;
    margin: 1em auto;
    display: flex;
    gap: 1em;
    padding: 1em;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.window {
    width: 500px;
    height: 200px;
    border: 1px solid lightgrey;
    background-color: aliceblue;
    box-shadow: 10px 10px 33px 0px rgba(0, 0, 0, 0.75);
    border-radius: 1em;
}