@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("/assets/fonts/roboto-thin-webfont.woff2") format("woff2"),
         url("/assets/fonts/roboto-thin-webfont.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/assets/fonts/roboto-regular-webfont.woff2") format("woff2"),
     url("/assets/fonts/roboto-regular-webfont.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/assets/fonts/roboto-medium-webfont.woff2") format("woff2"),
     url("/assets/fonts/roboto-medium-webfont.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/assets/fonts/roboto-bold-webfont.woff2") format("woff2"),
    url("/assets/fonts/roboto-bold-webfont.woff") format("woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("/assets/fonts/roboto-black-webfont.woff2") format("woff2"),
     url("/assets/fonts/roboto-black-webfont.woff") format("woff");
}

@font-face {
    font-family: "RobotoSerif";
    font-weight: 400;
    src: url("/assets/fonts/RobotoSerif-Regular.woff2") format("woff2"),
}
@font-face {
    font-family: "RobotoSerif";
    font-weight: 500;
    src: url("/assets/fonts/RobotoSerif-Medium.woff2") format("woff2"),
}
@font-face {
    font-family: "RobotoSerif";
    font-weight: 600;
    src: url("/assets/fonts/RobotoSerif-SemiBold.woff2") format("woff2"),
}
@font-face {
    font-family: "RobotoSerif";
    font-weight: 700;
    src: url("/assets/fonts/RobotoSerif-Bold.woff2") format("woff2"),
}
@font-face {
    font-family: "RobotoSerif";
    font-weight: 800;
    src: url("/assets/fonts/RobotoSerif-ExtraBold.woff2") format("woff2"),
}
@font-face {
    font-family: "RobotoSerif";
    font-weight: 900;
    src: url("/assets/fonts/RobotoSerif-Black.woff2") format("woff2"),
}

*,
*::after,
*::before{
    box-sizing: border-box;
    position: relative;
    min-width:0;
    padding: 0;
    margin: 0;
}
.serif-regular{
    font-family: "RobotoSerif";
    font-weight: 400;
}
.serif-medium{
    font-family: "RobotoSerif";
    font-weight: 500;
}
.serif-semibold{
    font-family: "RobotoSerif";
    font-weight: 600;
}
.serif-bold{
    font-family: "RobotoSerif";
    font-weight: 700;
}
.serif-extrabold{
    font-family: "RobotoSerif";
    font-weight: 800;
}
.serif-black{
    font-family: "RobotoSerif";
    font-weight: 900;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #222222;
    color:#cccccc;
    overflow-x: hidden;
}
header {
    display: none;
}
a{
    color: #40a9e2;
    text-decoration: none;
}
a:hover{ 
    color: #53bef8;
}
nav ul li a {
    color: #ccc;
    text-decoration: none;
    text-transform: capitalize;
}
nav ul li a:hover{
    color:#fff;
}
.name-role {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name{
    font-size: 4rem;
    letter-spacing: -1px;
    color: #eeeeee;
    text-align: center;
}
.available{
    border: 1px solid rgb(99, 224, 77);
    border-radius: .3rem;
    color: rgb(147, 220, 147);
    padding: .25rem .25rem;
}
.role{
    font-size: 2rem;
    letter-spacing: -1px;
    color: #eee;
    margin-bottom: 1rem;
    

}
.section-title{
    font-size: 1.8rem;
    color:#eee;
}
.section-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}
.name-role, .qualities{
    margin-bottom: 1.6rem;
}
.qualities{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 1rem;
    gap: .5rem;

    color:#eeeeee;
}

.hero-text{
    text-align: center;
    max-width: 40ch;
    color: #ddd;
    margin: 0 auto;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 6rem;
    height: calc(100dvh - 80px);

    position: relative;
}

.placeholder{
    width: 95%;
    height: calc(100dvh - 80px);
    background:linear-gradient(0deg,  #232222 10%,#7b7b7b);
    background:linear-gradient(0deg,  #232222 10%,#b9a486);
    background:linear-gradient(0deg,  #232222 10%,#b2a98ac4);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: absolute;
    z-index: -10;
    top: 10px;
    transform: translateX(-50%);
    left: 50%;
}
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
    padding: 1rem;
}
.project {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project-img {
    min-width: 330px;
    transition: transform 300ms ease-out;
}
.project-img-container{
    width: 250px;
    height: 200px;
    overflow: hidden;
    border-radius: .3rem;
    border: 1px solid gray;
    position: relative;
}
.coming-soon{
     position: absolute;
    z-index: 200;
    background-color: #222222cc; /* add some transparency if you want */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1.1rem;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem 0;
}
.tags li {
    border: 1px solid grey;
    border-radius: .3rem;
    width: fit-content;
    padding: .3rem .6rem;
    transition: transform 200ms ease-out;
}
.tags li:hover {
    color: #eee;
    transform: scale(1.1);
    cursor: pointer;
}

#projects .section-header {
    margin-bottom: 4rem;
}
#projects li {
    list-style: none;
}
#projects h3 {
    color: #eee;
    margin-bottom: 1rem;
}
#projects p {
    max-width: 50ch;
    line-height: 1.8;
}
.projects-list {
    display: flex;
    flex-direction: column;
    gap:4rem;
}

#technologies {
    display: flex ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    margin-bottom: 6rem;
}
.technologies-list{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 1rem;
}
.tech-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.tech-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tech-list li svg {
    width: 50px;
    max-height: 70;
}
.technologies-list li {
    background-color: rgb(214, 240, 243);
    outline: 1px solid rgb(132, 192, 203);
    border-radius: .7rem;
    padding: .2rem .6rem;
    list-style: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.technologies-list li:hover {
    cursor: pointer;
    background-color: rgb(158, 215, 221);
}
.social-links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem .2rem;
    font-weight: 500;
    font-size: 1.2rem;
}

.linkedin, .github {
    padding: .3rem 1.2rem;
    text-align: center;
    border-radius: .2rem;
    width: 120px;
}
.linkedin {
       border: 2px solid hsl(0, 0%, 75%);
    color: hsl(0, 0%, 85%);
    transition: background-color 300ms ease-in;
}
.linkedin:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 19%);
    color: hsl(0, 0%, 87%);
}
.github {
    border: 2px solid hsl(0, 0%, 75%);
    color: hsl(0, 0%, 23%);
    background-color:hsl(0, 0%, 85%) ;
    transition: background-color 300ms ease-in;
}
.github:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 19%);
    color: hsl(0, 0%, 87%);
}

#about{
    display: flex;
    gap: 1rem;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    margin-bottom: 2rem;
}
#about article {
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    max-width: 50ch;
}

.blue-text{
    color: #4086e2;
}
.red-text{
    color:#e67373;
}
.yellow-text{
    color:#e3ea7f;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin: 0 .5rem 2rem .5rem;
    
}
.contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: .3rem;
    color: #181818;
    background-color: #cecece;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 320px;
}

#contact .section-title {
    color: #181818;
}

#contact p {
    max-width: 40ch;
    /* color: white; */
    margin-bottom: 2rem;
    text-align: center;
}

#contact a {
    color: #2e81ed;
}

.pblur-object {
    display: none;
}
@media (min-width:600px) {
    header, nav {
        display: flex; 
        justify-content: center;
        padding: 1.2rem 0 .8rem 0 ;
    }
    nav ul {
        display: flex;
        gap: 1rem;
    }

    nav ul li {
        list-style: none;
    }


}
@media (min-width:800px) {
main{
    flex-direction: row;
    justify-content:center;
}

.projects-list{
    gap: 7rem;
}
.project {
flex-direction: row;
align-items: center;

}
.projects-list li:nth-child(2) .project {
  flex-direction: row-reverse;
}
.pblur-object {
    display: block;
    width: 250px;
}

.contact-box {
    width: 820px;
}

}

