@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    src: url('./fonts/roboto-light-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('./fonts/roboto-regular-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    src: url('./fonts/roboto-medium-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    src: url('./fonts/roboto-black-webfont.woff2') format('woff2');
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --clr-light:#ffffff;
    --clr-red: #b3001b;
    --clr-dark:#121212;
    --clr-blue-satur: #0000ff;
    --clr-blue-satur: #0000ff97;

    --accent: 136, 58, 234;
    --accent-light: rgb(69, 229, 173);
    --accent-blue:0, 110, 255;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(0, 128, 255)    ,
        var(--accent-light) 30%,
        white 30%
    );
    --accent-gradient-dark: linear-gradient(45deg,rgb(255, 238, 0),var(--accent-light)30%);
    ;
}
::selection {
    background-color: var(--clr-red);
    background-color: var(--clr-blue-satur);
    color: aliceblue;
}

a {
    color: #1d5cd1;

}

button,
input,
textarea,
select {
    font: inherit;
}
.text-gradient {
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
body.dark-theme .text-gradient {
    background-image: var(--accent-gradient-dark);
}
body,html{
    height: 100%;
    overflow-x: hidden;
}
body{
    font-size: 1.225rem;
    background-color: #eee;
    color: #121212;
    font-family: 'Roboto';
    font-weight: 400;
}
section{
    margin-bottom: 2.2rem;
}

body.dark-theme{
    color: white;
    background-color: var(--clr-dark);
    background-color: #171a24;
}
body::before{
    background: url(imgs/grain/Rectangle\ 22.svg);
    position: absolute;
    z-index: -999;
    left: 0;
    top: 0;
    content: "";
    min-height: 100%;
    min-width: 100%;
    opacity: 50%;
    pointer-events: none;
}
body.dark-theme::before{
    background: url(/imgs/grain/dark\ grain\ 3.svg);
    position: absolute;
    z-index: -999;
    left: 0;
    top: 0;
    content: "";
    height: 100%;
    width: 100%;
    opacity: 30%;
    pointer-events: none;
}
.container{
    max-width: 100%;
    padding: 1rem;
    overflow: hidden;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: none;
    max-width: 800px;
    margin: auto;
}
.mobile-navbar{
    padding: 1rem;
    display: flex;
}
.mobile-btn-toggle{
    margin-left: auto;
    background-color: #2e2e2e;
    color: var(--clr-light);
    border:none;
    border-radius: .3rem;
    padding: .5rem 1.2rem;

}
body.dark-theme .mobile-btn-toggle{
    background-color: #242424;
    color: var(--clr-light);
    background-color: rgb(218, 218, 218);
    color: rgb(29, 29, 29);
}
ul li a{
    text-decoration: none;
    color:#222;
    font-weight: 500;
}
body.dark-theme ul li a{
    color:var(--clr-light);
    font-weight: 500;

}
ul li{
    list-style-type: none;
}
.light{
    background: rgb(23,55,255);
    background: radial-gradient(circle, rgba(23,55,255,1) 0%, rgb(38, 255, 56) 100%);
    background: radial-gradient(circle, rgb(38, 255, 56) 0%, rgba(23,55,255,1) 100%);

    width: 700px;
    height: 500px;
    filter: blur(100px);
    padding: 0;
    margin: 0;
    
    position: absolute;
    z-index: -1;
    top: -450px;
    left: calc(50% - 300px);

    border-radius: 50%;
  }

body.dark-theme .light{
    background-color: rgb(255, 247, 0);
    background: rgb(246,255,23);
    background: radial-gradient(circle, rgb(242, 247, 106) 0%, rgb(255, 184, 98) 100%);
}
.hero{
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.hello-text{
    font-weight: 700;
    margin-bottom: 1rem;
}
.name{
    font-size: 1.4rem;
    color: rgb(31, 31, 31);
}
.handle{
    font-size: 1.1rem;
}
body.dark-theme .name{
    font-size: 1.4rem;
    color: white;
}
.role{
    font-size: 1.3rem;
}

/* body.dark-theme .hero-img img{
    filter: brightness(.8) contrast(1.1);
} */

.hero-description{
    max-width: 70ch;
    color: rgb(40, 40, 40);
    line-height: 1.8rem;
    font-size: 1rem;
    text-wrap: pretty;
}
body.dark-theme .hero-description{
    color: #f5efef;

}
.location{
    color: #787878;
    font-size: .9rem;
    margin-bottom: 1rem;
}
body.dark-theme .location{
    color: #dedede;
}
body.dark-theme{
    color: #f2f2f2;
}

.location,.hero-description{
    margin-bottom:1rem;
}

.projects{
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
}
.projects-title{
    font-size: 2rem;
    font-weight: 700;
}
.buttons{
    padding: 1rem;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
}

.linkedin, .github{
    outline: 2px solid #222222 ;
    padding: .3rem 1.2rem;
    border-radius: 2rem;
    box-shadow: #222222 4px 4px 0 0;

    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.linkedin a, .github a{
    font-weight: 600;
    color: #121212;
}

body.dark-theme .linkedin, 
body.dark-theme .github {
    color: white;
    outline: 2px solid #e7e7e7;
    box-shadow: #e7e7e7 4px 4px 0 0;

} 
body.dark-theme .linkedin a, 
body.dark-theme .github  a{
    color: white;
} 
.projects,.projects-title{
    text-align: center;
}
.project{
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    flex-wrap: wrap;
}
.projects-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.project-img a img{
    max-width: 100%;
}
.projects-title{
    padding: 2rem;
    margin-bottom: 3rem;
}
.projects-list li {
    border-radius: .3rem;
    padding: 1rem;
    width: fit-content;
    margin: 0 auto;
    transition: box-shadow 200ms ease-in;
    background-color: #dddddd;
}
body.dark-theme .projects-list li{
    background-color: #2e2e2e;
    color: #ddd;
    box-shadow: none;
}
.projects-list li:hover{
    box-shadow: 9px 10px 0px 0px rgb(94, 155, 226);
}
body.dark-theme .projects-list li:hover{
    box-shadow: 9px 10px 0px 0px rgba(238,245,142,1);
}
.project-title{
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 700;
}
.see-code:hover{
    text-decoration: underline;
}
.project-description{
    color: rgb(31, 31, 31);
    font-size: 1.1rem;
    max-width: 40ch;
    text-wrap: balance; 
    line-height: 1.8rem;
    margin-bottom: 1rem;
}
body.dark-theme .project-description{
    color: rgb(212, 212, 212);
}
.project-img a img{
    transition: all .250s ease-in-out;
    opacity: .9; 
    filter: brightness(.9);
}
.project-img a img:hover {
    opacity: 1; 
    filter: brightness(1.15);
}
.project article a{
    color: #244462;
}
body.dark-theme .project article a{
    color: rgb(237, 237, 237);
}
.project article a:hover{
    color: rgb(194, 194, 194);
}

.btn-toggle{
    border: none;
    background-color: #2e2e2e;

    color: var(--clr-light);
    padding: .1rem 1.2rem;
    border-radius: .2rem;
    max-height: 2.5rem;
    transition: background-color .2s ease;
}
.btn-toggle:hover{
    cursor: pointer;
    background-color: #656565;
}
body.dark-theme .btn-toggle{
    background-color: rgb(218, 218, 218);
    color: rgb(29, 29, 29);
}
body.dark-theme .btn-toggle:hover{
    background-color: rgb(134, 134, 134);
}

#about{
    text-align: center;
    padding: 1rem;
}
#about h1{
margin-bottom: 3rem;
}
#about ul{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.6rem;
}
#about ul li{
    max-width: 30ch;
    list-style:inside;
}
.white-text{
    color: #1b1b1b;
    font-weight: 700;
}
body.dark-theme .white-text{
    color: #eee;
    font-weight: 700;
}
#contact {
    text-align: center;
}
#contact h1{
    margin-bottom: 2rem;
}

.linkedin-tag{
    color: rgb(67, 155, 255);
    text-decoration: none;
}
.linkedin-tag:hover{
    color: rgb(44, 124, 216);
}
body.dark-theme .linkedin-tag{
    color: rgb(130, 188, 255);
    text-decoration: none;
}
body.dark-theme .linkedin-tag:hover{
    color: rgb(99, 147, 202);
}
.javascript{
    background-color: rgb(255, 255, 111);
    color:#222;
}
.nodejs{
    background-color: rgb(173, 255, 111);
    color:#222;
}
.expressjs{
    background-color: rgb(20, 20, 20);
    color:#f6f6f6;
}
body.dark-theme .expressjs{
    background-color: rgb(255, 255, 255);
    color:#222;
}
.reactjs{
    background-color: rgb(111, 226, 255);
    color:#222;
}
.typescript{
    background-color: rgb(99, 200, 255);
    color: #191919;
}
body.dark-theme .typescript{
    background-color: rgb(40, 152, 226);
    color: rgb(241, 241, 241);
}
#skills{
    margin: 0rem auto;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    max-width: 300px;
}
#skills ul li {
    border: 2px solid rgb(0, 0, 0);
    padding: 0 1rem;
}
body.dark-theme #skills ul li {
    border: 2px solid white;
}


@media (max-width:750px){
    body::before{
        background: none;
    }
    body.dark-theme::before {
        background: none;

    }
    
}
@media (min-width:600px) {
    #skills ul {
        max-width: 580px;
    }
    .mobile-navbar, .mobile-btn-toggle{
        display: none;
    }
    header{
        display: block;
        font-size: 1rem;
        margin-bottom: 6rem;
    }
    header nav{
        width: 80%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

    }
    header nav, nav ul{
        display: flex;
        padding: .5rem;
    }
    header nav ul{
        gap: 1rem;
    }
    .icon-placeholder{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background-color: rgb(88, 164, 199);
    }
    header nav .logo {
        max-width: 3rem;
        max-height: 3rem;
    }
  

    .hello-text{
        font-size: 1.4rem;
    }
    body.dark-theme .name,.name{
        font-size: 2.5rem;
    }
    .handle{
        font-size: 1.25rem;
    }
    .role{
        font-size: 1.8rem;
    }
    .location,.hero-description{
        margin-bottom:1rem;
    }
    .hero{
        display: flex;
        padding: 1rem;
        margin-bottom: 7rem;
        align-items: center;
        justify-content: center;
    }
    .hero-details{
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    /* .hero-img{
       min-width: 40%;
    } */
    .download-cv{
        min-width: 50%;
        margin-right:  auto;

        
    }
    #about {
        margin: 0 auto;
        max-width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  #about ul {
        /* margin: 0 auto; */
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
  }
  #about ul li{
    line-height: 2rem;
  }
  
}
@media (minx-width:800px) {
    .container {
        max-width: 80%;
        }
}