*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --clr-light: #e4e6dc;
    --clr-light: aliceblue;
    --clr-light:#ffffff;
    --clr-red: #b3001b;
    --clr-dark-neutral: #627264;
    --clr-dark: #223;
    --clr-blue-satur: #0000ff;
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        rgb(var(--accent-light)) 30%,
        white 60%
    );
    ;
}
::selection {
    background-color: var(--clr-red);
    background-color: var(--clr-blue-satur);
    color: aliceblue;
}

a {
    color: #1d5cd1;

}

button,
input,
textarea,
select {
    font: inherit;
}
.text-gradient {
    background-image: var(--accent-gradient);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

body {
    background-color: #151515;
    color: #E8E8E8;
}
header{
    margin-bottom: 2rem;
    padding: .5rem;
}
header nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
header nav ul{
    display: flex;
    gap: 1rem;
    padding: .5rem;
    margin-left: auto;
}
header nav ul li{
    list-style-type: none;
    padding: .5rem;
}
header nav ul li a{
    text-decoration: none;
    color: var(--clr-light);
}
.container{
    padding: 2rem;
    width: 1280px;
    margin: 0 auto;
}
.hero{
    display: flex;
    height: 500px;
    margin-bottom: 3rem;
}
.hero-img{
    width: 50%;
    overflow: hidden;
    /* box-shadow: 0px 0px 26px 1px rgba(181,181,181,0.65); */

}
.hero-details{
    width: 50%;
    line-height: 2.5rem;
}
.hero__description{
    line-height: 1.7rem;
}
.location{
    color: #e8e8e8b0;
}
.download-cv{
    width: 80%;
    padding: .5rem 2rem;
    border-radius: .3rem;
    font-size: 1.1rem;
    border: none;
    margin: 1rem 0;
    transition: all .3s ease;

    background-color: white;
    color: var(--clr-dark);
    box-shadow: 0px 0px 20px 0px rgba(255,255,255,0.67);
}
.download-cv:hover{
cursor: pointer;
scale: 105%;
background-color: #d1d1f2;
box-shadow: 0px 0px 20px 0px rgb(133, 119, 255);
color: rgb(0, 4, 126);


}
.projects{
    text-align: center;
}
.projects-title{
    font-size: 2rem;
    font-weight: 700;
}
@media only screen and (max-width: 600px) {
    header{
        display: none;
    }
    body{
        font-size: 1.5rem;
    }
    .container{
        width: 600px;
        padding: .5rem;
    }
    .hero-details{
        width: 80%;
        line-height: 3rem !important;
    }
    .hero{
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .hero-img,.hero-img img{
        width: 100%;
        height: 100%;
        padding: .5rem;
        overflow: visible;
    }
  }