*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --clr-light: #e4e6dc;
    --clr-light: aliceblue;
    --clr-light:#ffffff;
    --clr-red: #b3001b;
    --clr-dark-neutral: #627264;
    --clr-dark: #223;
    --clr-blue-satur: #0000ff;
    ;
}

::selection {
    background-color: var(--clr-red);
    background-color: var(--clr-blue-satur);
    color: aliceblue;
}

a {
    color: #1d5cd1;

}

button,
input,
textarea,
select {
    font: inherit;
}

body {
    background-color: var(--clr-light);
    color: var(--clr-dark);
}
header{
    border-bottom: 1px solid grey;
    margin-bottom: 5rem;
}
header nav{
    display: flex;
    align-items: center;
    padding: 1rem;
}

header ul{
    display: flex;
    gap: 1rem;
}
header nav ul li a {
    color: #2f2f2f;
}
header nav{
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
}

ul li{
    list-style: none;
}
a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: var(--clr-light);
    padding: 1rem;
}
.title{
    display: flex;
    align-items: center;
    padding: .5rem 0;
    margin-bottom: 2rem;
}
.available{
    color: #1D3B57;
    background-color: #BBDDFC;
    padding: .5rem 1rem;
}
main{
    margin-bottom: 2rem;

}
main h1{
    font-size: 2.5rem;
    display: inline;
    margin-right: 1rem;
}
header nav span{
    /* margin-right: auto; */
    margin: 0 .6rem;
    color: #ffffff;
    background-color: #313144;
    font-weight: 900;
    padding: .4rem 1rem;
    transition: all .4s ease-in-out;
}
header nav span:hover{
    cursor: pointer;
    background-color: #0000ff;
    scale: 80%;

}
main p{
    font-size: 1.5rem;
    line-height: 2.5rem;
    width: 70%;
}
header nav ul {
    font-size: 1.1rem;
}
header ul li{
    transition: all .4s ease;
    font-weight: 500;
}
header nav ul li:hover{
    scale: 80%;
}
.socials{
    display: flex;
    gap: .5rem;
    padding: .8rem 0;
    max-width: 60%;
    flex-wrap: wrap ;
}
ul li a button{
    border-radius: 1rem;
    padding: .3rem 1rem;
    border: 1px solid #4a4a4a;
    outline: none;
    background-color: transparent;
    color: #4a4a4a;
    margin-bottom: .8rem;
}
.socials li a button:hover,.available:hover{
    scale: 90%;
    cursor: pointer;
}
.category{
    color: #6e6e6e;
    margin-bottom: 1rem;
}
.work__title{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.work .description{
    color: #505050;
    line-height: 2rem;
    font-size: 1.2rem;
    width: 70%;
}