@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("/assets/fonts/roboto-thin-webfont.woff2") format(".woff2"),
         url("/assets/fonts/roboto-thin-webfont.woff") format(".woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/assets/fonts/roboto-regular-webfont.woff2") format(".woff2"),
     url("/assets/fonts/roboto-regular-webfont.woff") format(".woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/assets/fonts/roboto-medium-webfont.woff2") format(".woff2"),
     url("/assets/fonts/roboto-medium-webfont.woff") format(".woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/assets/fonts/roboto-bold-webfont.woff2") format(".woff2"),
    url("/assets/fonts/roboto-bold-webfont.woff") format(".woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("/assets/fonts/roboto-black-webfont.woff2") format(".woff2"),
     url("/assets/fonts/roboto-black-webfont.woff") format(".woff");
}


*,
*::after,
*::before{
    box-sizing: border-box;
    position: relative;
    min-width:0;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #222222;
    color:#ddd;
    overflow-x: hidden;
}
header {
    display: none;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    text-transform: capitalize;
}
.name{
    font-size: 3rem;
    letter-spacing: -1px;
    color: #eeeeee;
}
.role{
    font-size: 2rem;
    letter-spacing: -1px;

    background: linear-gradient(90deg, #cc79e3, #4086e2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text; /* Firefox */
    color: transparent;
}
.section-title{
    font-size: 1.8rem;
}
.name-role, .qualities{
    margin-bottom: 1.6rem;
}
.qualities{
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    gap: .5rem;

    color:#eeeeee;
}

main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;

    position: relative;
}
.placeholder{
    width: 100%;
    height: calc(100dvh - 80px);
    background-color: #919191;
    border-radius: .3rem;
}
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}
#projects h2 {
    margin-bottom: 2rem;
}
.projects-list {
    display: flex;
    gap:4rem;
    flex-direction: column;
   
}
.projects-list li .placeholder {
  background: #d5d5d5;
  width: 330px;
  border-radius: 0.6rem;
  position: relative;
  overflow: hidden; 
  transition: all 0.3s ease-in;
}

.projects-list li .placeholder::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#d5d5d5, #3d3d3d);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: 0;
  border-radius: inherit;
}

.projects-list li .placeholder:hover::before {
  opacity: 1;
}

.projects-list li .placeholder * {
  position: relative;
  z-index: 1; 
}
.projects-list li p {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 1.3rem;
    color: #d9d9d9;
    text-transform: capitalize;
    padding-top: .7rem;
}
.projects-list li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-list li img{
    width: 330px;
    border-radius: .6rem;
    position: relative;
    z-index: -1;
    height: 226px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#technologies {
    display: flex ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4rem;
    margin-bottom: 6rem;
}
.technologies-list{
    display: grid;
    grid-template-columns: repeat(3,100px);
    gap: 1rem;
}
.tech-list {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.tech-list li {
    display: flex;
    justify-content: center;
    align-items: center;
}
.tech-list li svg {
    width: 50px;
    max-height: 70;
}
.technologies-list li {
    background-color: rgb(214, 240, 243);
    outline: 1px solid rgb(132, 192, 203);
    border-radius: .7rem;
    padding: .2rem .6rem;
    list-style: none;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.technologies-list li:hover {
    cursor: pointer;
    background-color: rgb(158, 215, 221);
}
.social-links {
    display: flex;
    gap: 1rem;
    padding: 1rem .2rem;
}

.linkedin, .github {
    padding: .3rem 1.2rem;
    text-align: center;
    border-radius: .2rem;
    width: 120px;
}
.linkedin {
    border: 2px solid hsl(219, 75%, 75%);
    color: hsl(219, 67%, 75%);
    transition: background-color 300ms ease-in;
}
.linkedin:hover{
    cursor: pointer;
    background-color: hsl(219, 43%, 43%);
}
.github {
    border: 2px solid hsl(0, 0%, 75%);
    color: hsl(0, 0%, 85%);
    transition: background-color 300ms ease-in;
}
.github:hover{
    cursor: pointer;
    background-color: hsl(0, 0%, 53%);
}

@media (min-width:600px) {
    header, nav {
        display: flex; 
        justify-content: center;
        padding: .8rem 0;
    }
    nav ul {
        display: flex;
        gap: 1rem;
    }

    nav ul li {
        list-style: none;
    }

}
@media (min-width:800px) {
    main{
        flex-direction: row;
        justify-content:center;
    }
    #projects ul {
        display: grid;
        grid-template-columns:1fr 1fr ;
        gap: 1rem;
    }
}
