@font-face {
    font-family: "Roboto";
    font-weight: 300;
    src: url("/assets/fonts/roboto-thin-webfont.woff2") format(".woff2"),
         url("/assets/fonts/roboto-thin-webfont.woff") format(".woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 400;
    src: url("/assets/fonts/roboto-regular-webfont.woff2") format(".woff2"),
     url("/assets/fonts/roboto-regular-webfont.woff") format(".woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 500;
    src: url("/assets/fonts/roboto-medium-webfont.woff2") format(".woff2"),
     url("/assets/fonts/roboto-medium-webfont.woff") format(".woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 700;
    src: url("/assets/fonts/roboto-bold-webfont.woff2") format(".woff2"),
    url("/assets/fonts/roboto-bold-webfont.woff") format(".woff");
}
@font-face {
    font-family: "Roboto";
    font-weight: 900;
    src: url("/assets/fonts/roboto-black-webfont.woff2") format(".woff2"),
     url("/assets/fonts/roboto-black-webfont.woff") format(".woff");
}


*,
*::after,
*::before{
    box-sizing: border-box;
    position: relative;
    min-width:0;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #222222;
    color:#ddd;
    overflow-x: hidden;
}
header {
    display: none;
}

nav ul li a {
    color: #ccc;
    text-decoration: none;
    text-transform: capitalize;
}
.name-role{
    margin-bottom: 2rem;
}
main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 6rem;
}
.placeholder{
    width: 240px;
    height: 240px;
    background-color: #bbb;
    border-radius: .3rem;
}
#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}
#projects h2 {
    margin-bottom: 2rem;
}
.projects-list {
    display: flex;
    gap:4rem;
    flex-direction: column;
   
}
.projects-list li .placeholder {
  background: #d5d5d5;
  width: 330px;
  border-radius: 0.6rem;
  position: relative;
  overflow: hidden; 
  transition: all 0.3s ease-in;
}

.projects-list li .placeholder::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(#d5d5d5, #3d3d3d);
  opacity: 0;
  transition: opacity 0.3s ease-in;
  z-index: 0;
  border-radius: 0.6rem;
}

.projects-list li .placeholder:hover::before {
  opacity: 1;
}

.projects-list li .placeholder * {
  position: relative;
  z-index: 1; 
}
.projects-list li p {
    position: absolute;
    top: 0;
    font-weight: 600;
    font-size: 1.3rem;
    color: #444;
    text-transform: capitalize;
}
.projects-list li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (min-width:600px) {
    header, nav {
        display: flex; 
        justify-content: center;
        padding: .8rem 0;
    }
    nav ul {
        display: flex;
        gap: 1rem;
    }

    nav ul li {
        list-style: none;
    }

}
@media (min-width:800px) {
    main{
        flex-direction: row;
        justify-content:center;
    }
}
