*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Inter", sans-serif;
  color: var(--clr-light);
  color: var(--clr-dark);
}

:root {
  --clr-light: #e4e6dc;
  --clr-red: #b3001b;
  --clr-dark-neutral: #627264;
  --clr-dark: #223;
}

::selection {
  background-color: var(--clr-dark);
  background-color: var(--clr-red);
  color: aliceblue;
}

button,
input,
textarea,
select {
  font: inherit;
}

h1 {
  text-transform: uppercase;
  font-weight: 900;
}

body {
  /* background-color: var(--clr-dark);
  color: #e4e6dc; */
  background-color: #e4e6dc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

main {
  width: 800px;
  height: 95vh;
  padding: 40vh;
  margin: 0 auto;
  /* border: 1px solid var(--clr-dark); */
}

main * {
  padding: 10px;
}



.btn-1 {
  color: #223;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-dark);
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
}

.btn-2 {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  border: 1px solid var(--clr-light);
  outline: none;
  padding: 5px 15px;
  border-radius: 5px;
}

@media (max-width:800px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40vh;
  }

  .buttons {
    display: flex;
  }

  .buttons * {
    margin: 5px;
  }
}

@media (max-width:600px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40vh;
  }
}